<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <hr class="sidebar-divider my-0">

    <hr class="sidebar-divider">
    <h3>Category</h3>
    <li class="list-group-item">
        <a href="/filter">
            <i class="fas fa-home"></i> All Categories
        </a>
    </li>

    <% categories.forEach(category => { %>
        <li class="list-group-item <%= category === queryCategory ? 'active' : '' %>">
            <a href="/filter?category=<%= category %>">
                <%= category %>
            </a>
        </li>
    <% }); %>
    <hr class="sidebar-divider">
    <hr class="sidebar-divider d-none d-md-block">
</ul>