/* Sidebar Heading */
.sidebar h3 {
    color: #fff; /* White color for headings */
    text-align: center;
    padding: 1rem 0;
    font-size: 1.25rem;
    font-weight: 700;
}

/* Category List Items */
.list-group-item {
    background-color: transparent;
    border: none;
    padding: 0.75rem 1.25rem;
    position: relative;
}

.list-group-item a {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    display: block;
    width: 100%;
}

/* Hover Effect for List Items */
.list-group-item:hover {
    background-color: rgb(154, 147, 255);
}

.list-group-item:hover a {
    color: #fff;
}

/* Active Category Style */
.list-group-item.active {
    background-color: rgb(154, 147, 255); /* A darker shade for the active item */
    border-radius: 5px;
}

.list-group-item.active a {
    color: #fff;
    font-weight: bold;
}

/* Category List Item Icons */
.list-group-item a i {
    margin-right: 0.5rem;
}